<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <style>
        body {
            font-family: sans-serif;
        }
        code, pre {
            font-family: monospace;
        }
        h1 code,
        h2 code,
        h3 code,
        h4 code,
        h5 code,
        h6 code {
            font-size: inherit;
        }

        #content { margin-top: 50px; max-width: 700px; }
    </style>
</head>
<body>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div id="content" class="col-lg-12 mt-5">
        {{content}}
      </div>
    </div>
  </div>

</body>
</html>
